<div class="col-xs-6">
		<a class='btn ' href='/showlendall' style="font-size:18px">我要投资</a>
		<a class='btn ' href='/borrow' style="font-size:18px">我要借款</a>
		<a class='btn ' href='/myinfo' style="font-size:18px">所有记录</a>
		<a class='btn ' href='/returnMoney' style="font-size:18px">我要还款</a>
        <a class='btn ' href='/showDetail' style="font-size:18px">编辑详情</a>
        <a class='btn ' href='/back' style="font-size:18px">进入后台</a>
        <a class='btn ' href='/logout' style="font-size:18px">退出登录</a>
        <a class='btn ' href='/' style="font-size:18px">用户:{{ username }}</a>
	</div>